@import "tailwindcss";
@import "@cityroam/shared/tailwind";

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
